{% extends "base.html" %}
{% block title %}ADIJ Fitness - Bookings{% endblock %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'retrieveuser.css')}}">
</head>
<body>
<h1 class="display-4">Retrieve Bookings</h1>
<div>
    {% if count == 0 %}
    <p>There are no bookings</p>
    {% elif count == 1 %}
    <p>There is 1 booking</p>
    {% else %}
    <p>There are {{ count }} bookings</p>
    {% endif %}
<br>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th><a href="/retrieveBookingEmailReverse">User Email</a></th>
            <th><a href="/retrieveBookingActivity">Activity</a></th>
            <th><a href="/retrieveBookingGender">Gender</a></th>
            <th><a href="/retrieveBookingDate">Date</a></th>
            <th><a href="/retrieveBookingLocation">Location</a></th>
            <th><a href="/retrieveBookingTime">Time</a></th>
            <th><a href="/retrieveBooking">Time updated</a></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in liz %}
            <tr>
                <td>{{i.email}}</td>
                <td>{{i.activity}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.get_date()}}</td>
                <td>
                    {% if i.location in loc %}
                        {% for l in loc %}
                            {% if i.location == l %}
                                {{i.location}}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{i.location + " (Closed)"}}
                    {% endif %}
                </td>
                <td>{{i.time}}</td>
                <td>{{i.get_booktime_updated_str()}}</td>
                <td><a href="/updateBookingR/{{i.id}}" class="btn btn-warning">Update</a></td>
                <td>
                    <form action="/deleteBookingR/{{i.id}}" method="POST">
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#myModal_{{i.id}}">
                            Delete
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{i.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        Are you sure you want to delete this booking?
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </td>
                {%else%}
                <td colspan="8">None</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</form>

</body>


{% endblock %}
