{% extends "base.html" %}
{% block title %}ADIJ Fitness - Update Location{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'retrievebookings.css')}}">
</head>

{{loc.image}}
<h1 class="display-4">Update Locations</h1>

<form method="POST" action="" enctype="multipart/form-data">
    <div class="form-group">
        <img id="imgProfile" src="/static/uploads_location/{{ loc.image }}" alt="{{ loc.location }}"
             width="120" height="120" style="object-fit:cover" class="rounded-circle"/>
    </div>
    <dl>
        <p>
            <input type="file" name="file" class="form-control" autocomplete="off">
        </p>
    </dl>
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}">
        </div>
    {% endif %}
    <div class="form-group">
        {{ render_field(form.location, class="form-control") }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary mt-3"/>
</form>

{% endblock %}
