form {
margin-top: 20px;
width: 300px;
margin-left: auto;
margin-right: auto;
color:black;
}

body {
background-color:#282C2F;
color:white;
}
h1 {
text-decoration: underline;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  height: 400px;
  margin: auto;
  font-family: arial;
}

.signup {
padding-left:100px;
}

.font{
margin-top: 15px;
color:black;
text-align: center;
font-family:Garamond, Georgia, Times, Serif;
}
